/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js
/public/css/*.css
/public/css/*.map
/public/css/*.gz
/public/css/fonts/
/public/images/*
/public/images/*.gif
/public/stats.html
/public/*.js
/public/*.js.map
.idea
.DS_Store
public/attachment/170111014117.jpg
public/attachment/170112081406.jpg
*.jpg
*.jpeg
*.gif
*.db
webpack.config.js
database/u771038069_laravue.sql
Cell(*
Ln*
MultiCell*
SetFont*
SetLineWidth*
SetXY*
specialization*